wnutils/xsd_pub/libnucnet.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>

<!--////////////////////////////////////////////////////////////////////////////
// <file>
//   <license>
//      Copyright (c) 2006-2022 Clemson University.
//
//      This file is part of the Clemson Webnucleo group's
//      libnucnet module, originally developed by David C. Adams
//      and Bradley S. Meyer.  For more information,
//      please see http://www.webnucleo.org.
//
//      This is free software; you can redistribute it and/or modify it
//      under the terms of the GNU General Public License as published by
//      the Free Software Foundation; either version 2 of the License, or
//      (at your option) any later version.
//
//      This software is distributed in the hope that it will be useful,
//      but WITHOUT ANY WARRANTY; without even the implied warranty of
//      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//      GNU General Public License for more details.
//
//      To obtain a copy of the GNU GPL, write to the Free Software
//      Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
//      USA
//   </license>
//
//   <description>
//     <abstract>
//       XML schema to validate a Libnucnet input xml file.
//     </abstract>
//     <keywords>
//       nuclear, data, schema, valid
//     </keywords>
//   </description>
//
//   <authors>
//     <current>
//       <author userid="mbradle" start_date="2007/08/12" />
//     </current>
//     <previous>
//     </previous>
//   </authors>
//
//   <compatibility>
//     Tested with xmllint: using libxml version 20629
//     compiled with: Threads Tree Output Push Reader Patterns Writer SAXv1
//     FTP HTTP DTDValid HTML Legacy C14N Catalog XPath XPointer XInclude
//     Iconv ISO8859X Unicode Regexps Automata Expr Schemas Schematron 
//     odules Debug Zlib 
//   </compatibility>
//
// </file>
/////////////////////////////////////////////////////////////////////////////-->

<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ndt="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/libnucnet__nuc__types/"
  xmlns:rdt="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/libnucnet__reac__types/"
  xmlns:zdt="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/zone_data_types/"
>

<!--============================================================================
// Import types.
//===========================================================================-->

<xsd:import
  namespace="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/libnucnet__nuc__types/"
  schemaLocation="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/libnucnet__nuc__types.xsd"
/>  

<xsd:import
  namespace="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/libnucnet__reac__types/"
  schemaLocation="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/libnucnet__reac__types.xsd"
/>  

<xsd:import
  namespace="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/zone_data_types/"
  schemaLocation="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/zone_data_types.xsd"
/>

<!--============================================================================
// Nuclear network.
//===========================================================================-->

<xsd:complexType name="nuclear_network_type">
  <xsd:sequence>
    <xsd:element name="nuclear_data" type="ndt:nuclear_data_type"/>
    <xsd:element name="reaction_data" type="rdt:reaction_data_type"/>
  </xsd:sequence>
</xsd:complexType>

<!--============================================================================
// Root element.
//===========================================================================-->

<xsd:element name="libnucnet_input">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="nuclear_network" type="nuclear_network_type"/>
      <xsd:element name="zone_data" type="zdt:zone_data_type">
        <xsd:unique name="unique_zone_labels">
          <xsd:selector xpath="zone"/>
          <xsd:field xpath="@label1"/>
          <xsd:field xpath="@label2"/>
          <xsd:field xpath="@label3"/>
        </xsd:unique>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
