wnutils/xsd_pub/zone_data_types.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>

<!--////////////////////////////////////////////////////////////////////////////
// <file>
//   <license>
//      Copyright (c) 2006-2022 Clemson University.
//
//      This file is part of the Clemson Webnucleo group's
//      libnucnet module, originally developed by David C. Adams
//      and Bradley S. Meyer.  For more information,
//      please see http://www.webnucleo.org.
//
//      This is free software; you can redistribute it and/or modify it
//      under the terms of the GNU General Public License as published by
//      the Free Software Foundation; either version 2 of the License, or
//      (at your option) any later version.
//
//      This software is distributed in the hope that it will be useful,
//      but WITHOUT ANY WARRANTY; without even the implied warranty of
//      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//      GNU General Public License for more details.
//
//      To obtain a copy of the GNU GPL, write to the Free Software
//      Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
//      USA
//   </license>
//
//   <description>
//     <abstract>
//       XML schema that includes the types for the initial mass fraction
//       schema.
//     </abstract>
//     <keywords>
//       initial, mass, fractions, data, schema, valid
//     </keywords>
//   </description>
//
//   <authors>
//     <current>
//       <author userid="mbradle" start_date="2007/08/12" />
//     </current>
//     <previous>
//     </previous>
//   </authors>
//
//   <compatibility>
//     Tested with xmllint: using libxml version 20629
//     compiled with: Threads Tree Output Push Reader Patterns Writer SAXv1
//     FTP HTTP DTDValid HTML Legacy C14N Catalog XPath XPointer XInclude
//     Iconv ISO8859X Unicode Regexps Automata Expr Schemas Schematron 
//     odules Debug Zlib 
//   </compatibility>
//
// </file>
/////////////////////////////////////////////////////////////////////////////-->


<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:zdt="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/zone_data_types/"
  targetNamespace="https://libnucnet.sourceforge.net/xsd_pub/2022-10-08/zone_data_types/"
>

<xsd:import
  namespace="http://www.w3.org/XML/1998/namespace"
  schemaLocation="https://libnucnet.sourceforge.net/xsd_pub/w3c_copy/2005/08/xml.xsd"
/>

<!-- Simple types -->

<xsd:simpleType name="z_type">
  <xsd:restriction base="xsd:nonNegativeInteger"/>
</xsd:simpleType>

<xsd:simpleType name="a_type">
  <xsd:restriction base="xsd:positiveInteger"/>
</xsd:simpleType>

<xsd:simpleType name="name_type">
  <xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<xsd:simpleType name="x_type">
  <xsd:restriction base="xsd:float">
    <xsd:minInclusive value="0"/>
    <xsd:maxInclusive value="1"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="zone_label_type">
  <xsd:restriction base="xsd:string">
    <xsd:pattern value=".*"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="nuclide_name_type">
  <xsd:restriction base="xsd:string">
    <xsd:pattern value=".*"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- Complex types -->

<xsd:complexType name="property_type">
  <xsd:simpleContent>
    <xsd:extension base="xsd:string">
      <xsd:attribute
        name="name"
        type="xsd:string"
        use="required"
      />
      <xsd:attribute
        name="tag1"
        type="xsd:string"
        use="optional"
      />
      <xsd:attribute
        name="tag2"
        type="xsd:string"
        use="optional"
      />
    </xsd:extension>
  </xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="nuclide_type">
  <xsd:sequence>
     <xsd:element name="z" type="zdt:z_type"/>
     <xsd:element name="a" type="zdt:a_type"/>
     <xsd:element name="x" type="zdt:x_type"/>
  </xsd:sequence>
  <xsd:attribute
    name="name"
    type="zdt:nuclide_name_type"
    use="optional"
  />
</xsd:complexType>

<xsd:complexType name="optional_properties_type">
  <xsd:sequence>
    <xsd:element
      name="property"
      type="zdt:property_type"
      minOccurs="0"
      maxOccurs="unbounded"
    >
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="mass_fractions_type">
  <xsd:sequence>
    <xsd:element
      name="nuclide"
      type="zdt:nuclide_type"
      minOccurs="0"
      maxOccurs="unbounded"
    >
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="zone_full_labels_type">
  <xsd:sequence>
    <xsd:element
      name="optional_properties"
      type="zdt:optional_properties_type"
      minOccurs="0"
    />
    <xsd:element
      name="mass_fractions"
      type="zdt:mass_fractions_type"
    />
  </xsd:sequence>
  <xsd:attribute name="label1" type="zdt:zone_label_type"
    use="optional"
  />
  <xsd:attribute name="label2" type="zdt:zone_label_type"
    use="optional"
  />
  <xsd:attribute name="label3" type="zdt:zone_label_type"
    use="optional"
  />
  <xsd:attribute ref="xml:base"/>
</xsd:complexType>

<xsd:complexType name="zone_data_type">
  <xsd:sequence>
    <xsd:element
      name="zone"
      type="zdt:zone_full_labels_type"
      maxOccurs="unbounded"
    />
  </xsd:sequence>
</xsd:complexType>

</xsd:schema> 

